<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1025467118551-tp0spjmkid0dhb0vino4adngv3q7dm5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025467118551-tp0spjmkid0dhb0vino4adngv3q7dm5q</string>
	<key>API_KEY</key>
	<string>AIzaSyC18NDFcwCXEYLf8QRg9FFydQ0EGVJfJdA</string>
	<key>GCM_SENDER_ID</key>
	<string>1025467118551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.servLynk</string>
	<key>PROJECT_ID</key>
	<string>serv-lynk-1f3d0</string>
	<key>STORAGE_BUCKET</key>
	<string>serv-lynk-1f3d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025467118551:ios:381e1f700bc3a697</string>
	<key>DATABASE_URL</key>
	<string>https://serv-lynk-1f3d0.firebaseio.com</string>
</dict>
</plist>